.imageWrapper {
  flex: 1 1 0px;
  border: 1px solid #000;
  width: 0;
  height: 45px;
  overflow: hidden;
}

.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 45px; 
}

.imagecol {
  display: flex;
  flex-direction: column;
  width: 400px;
  // height: 100%;
}

.imagerow {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-items: ;
  
  img{
    object-fit: contain;
    max-height: 400px;
    // width: 100%;
    height: auto;
    align-self: center;
  }
}

.chartWrapper{
  width: calc(100% - 400px);
}

.whyWrapper{
  width: 600px;
  text-align: left;
}

.hliner{
  width: 100%;
  height: 0;
  border: 1px dashed #CCC;
  margin: 10px 0;
}